{% extends 'schedule/base.html' %}

{% block content %}

<h1 class="mt-4">Заявки на помещения</h1>
<table class="table text-center table-sm table-hover">
  <thead>
  <tr>
    <th scope="col">Дата и время</th>
    <th scope="col">Адрес</th>
    <th scope="col">Количество участников</th>
    <th scope="col">Организация</th>
    <th scope="col">Ответственный</th>
    <th scope="col">Действие</th>
  </tr>
  </thead>
  <tbody>
  {% for booking in page_obj %}
  <tr>
    <td>{{ booking.time_start|date:"H:i" }}-{{ booking.time_end|date:"H:i" }} {{ booking.date|date:"d.m.Y" }}</td>
    <td>{{ booking.room.address }} ({{ booking.room.room }})</td>
    <td>{{ booking.quota }}</td>
    <td>{{ booking.event.organization }}</td>
    <td>{{ booking.event.responsible }}</td>
    <td>
      <a class="btn btn-success" href="{% url 'booking_approve' pk=booking.pk %}" role="button">Обработать</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% include 'pagination.html' %}
{% endblock content %}