{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block bottom_nav %}{% endblock bottom_nav %}

{% block content %}
<h1 class="mt-4">Видеоконференция "{{ conference.application }}"</h1>
<table class="table">
    <tbody>
    <tr>
        <th>Мероприятие</th>
        <td>{{ conference.event.name }}</td>
    </tr>
    <tr>
        <th>Организация</th>
        <td>{{ conference.event.organization }}</td>
    </tr>
    <tr>
        <th>Время проведения</th>
        <td>время: {{ conference.time_start|date:"H:i" }}-{{ conference.time_end|date:"H:i" }}, дата: {{ conference.event.date|date:"d F Y" }}</td>
    </tr>
    <tr>
        <th>Приложение</th>
        <td>{{ conference.application }}({{ conference.get_type_display }})</td>
    </tr>
    {% if conference.quota %}
    <tr>
        <th>Количество участников</th>
        <td>{{ conference.quota|default_if_none:'' }}</td>
    </tr>
    {% endif %}
    {% if conference.link_to_event %}
    <tr>
        <th>Ссылка</th>
        <td>{{ conference.link_to_event|default_if_none:'' }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>Ответственный специалист</th>
        <td>{{ conference.event.responsible }}<hr>телефон: {{ conference.event.responsible.phone }}, email: {{ conference.event.responsible.email }}</td>
    </tr>
    <tr>
        <th></th>
        <td align="right">

        </td>
    </tr>
    </tbody>
</table>
<div>
    <form action=""  method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div align="right">
            <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}" role="button">Отмена</a>
            <input type="submit" name="rejection" class="btn btn-danger" value="Отказать" >
            <input type="submit" name="ready" class="btn btn-success" value="Подтвердить">
        </div>
    </form>
</div>

{% endblock content %}