{% extends 'schedule/base.html' %}
{% load custom_filter %}

{% block bottom_nav %}{% endblock bottom_nav %}

{% block data %}

<h1 class="mt-4" >Мероприятие "{{ event.name }}"
<span class="badge bg-{{ event.status|get_postfix }}">{{ event.get_status_display  }}</span>
</h1>
<div class="mt-4">
  <a class="btn btn-primary" href="{% url 'conference_create' pk=event.pk %}" role="button">Добавить видеоконференцию</a>
  <a class="btn btn-primary" href="{% url 'booking_create' pk=event.pk %}" role="button">Забронировать комнату</a>
</div>
<p class="text text-right">Мероприятие обновлено: {{ event.created_at|date:"d F Y" }}</p>
<table class="table">
  <tbody>
  <tr>
    <th width="30%">Дата проведения</th>
    <td>
      {% if event.date_start == event.date_end %}{{ event.date_start|date:"d.m.Y" }}
      {% else %}{{ event.date_start|date:"d.m" }}-{{ event.date_end|date:"d.m.Y" }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Организатор</th>
    <td>{{ event.organization }}</td>
  </tr>
  <tr>
    <th>Описание</th>
    <td>{{ event.description }}</td>
  </tr>
  <tr>
    <th>Сотрудник ответственный за мероприятие</th>
    <td>
      {{ event.owner }}<hr>
      телефон: {{ event.owner.phone }},
      email: <a href="mailto:{{ event.owner.email }}?subject={{ event }}">{{ event.owner.email }}</a>
    </td>
  </tr>
  <tr>
    <th></th>
    <td align="right">
      <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}" role="button">Отмена</a>
      {% if event.owner == request.user and event.status != 'completed' and event.status != 'ready' %}
      <a class="btn btn-success" href="{% url 'event_update' pk=event.pk %}" role="button">Изменить</a>
      {% endif %}
      {% if event.owner == request.user and event.status != 'completed' %}
      <a class="btn btn-danger" href="{% url 'event_delete' pk=event.pk %}" role="button">Удалить</a>
      {% endif %}
    </td>
  </tr>
  </tbody>
</table>

{% if conferences %}
{% for conference in conferences %}
<h3 class="mt-4">Видеоконференция "{{ conference.application }}"
  <span class="badge bg-{{ conference.status|get_postfix }}">{{ conference.get_status_display  }}</span>
</h3>
{% if conference.comment %}
<div class="alert alert-danger" role="alert">
  Причина отказа: {{ conference.comment }}
</div>
{% endif %}
<table class="table">
  <tbody>
  <tr>
    <th width="30%">Дата и время</th>
    <td>{{ conference.time_start|date:"H:i" }}-{{ conference.time_end|date:"H:i" }} {{ conference.date|date:"d.m.Y" }}</td>
  </tr>
  <tr>
    <th>Сервер</th>
    <td>{{ conference.server }}({{ conference.server.get_server_type_display }})</td>
  </tr>
  <tr>
    <th>Количество участников</th>
    <td>{{ conference.quota|default_if_none:'' }}</td>
  </tr>
  <tr>
    <th>Ссылка</th>
    <td>{{ conference.link|default_if_none:'' }}</td>
  </tr>
  <tr>
    <th>Технический специалист</th>
    <td>
      {% if conference.operator %}
      {{ conference.operator }}<hr>
      телефон: {{ conference.operator.phone }},
      email: <a href="mailto:{{ conference.operator.email }}?subject={{ conference }}">{{ conference.operator.email }}</a>
      {% else %}
      Специалист еще не назначен
      {% endif %}
    </td>
  </tr>
  <tr>
    <th></th>
    <td align="right">
      {% if conference.owner == request.user and conference.status != 'completed' and conference.status != 'ready' %}
      <a class="btn btn-success" href="{% url 'conference_update' pk=conference.pk %}" role="button">Изменить</a>
      {% endif %}
      {% if conference.owner == request.user and conference.status != 'completed' %}
      <a class="btn btn-danger" href="{% url 'conference_delete' pk=conference.pk %}" role="button">Удалить</a>
      {% endif %}
    </td>
  </tr>
  </tbody>
</table>
{% endfor %}
{% endif %}

{% if bookings %}
{% for booking in bookings %}
<h3 class="mt-4">Комната на {{ booking.room.quota }} мест(а)
  <span class="badge bg-{{ booking.status|get_postfix }}">{{ booking.get_status_display  }}</span>
</h3>
{% if booking.comment %}
<div class="alert alert-danger" role="alert">
  Причина отказа: {{ booking.comment }}
</div>
{% endif %}
<table class="table">
  <tbody>
  <tr>
    <th width="30%">Дата и время</th>
    <td>{{ booking.time_start|date:"H:i" }}-{{ booking.time_end|date:"H:i" }} {{ booking.date|date:"d.m.Y" }}</td>
  </tr>
  <tr>
    <th>Адрес</th>
    <td>{{ booking.room }}</td>
  </tr>
  <tr>
    <th>Количество участников</th>
    <td>{{ booking.quota }}</td>
  </tr>
  {% if booking.conference.link %}
  <tr class="table-info">
    <th>Ссылка на конференцию</th>
    <td>{{ booking.conference.link }}</td>
  </tr>
  {% endif %}
  <tr>
    <th>Ассистент</th>
    <td>
      {% if booking.assistant %}
      {{ booking.assistant }}<hr>
      телефон: {{ booking.responsible.phone }},
      email: <a href="mailto:{{ booking.assistant.email }}?subject={{ booking }}">{{ booking.assistant.email }}</a>
      {% else %}
      Специалист еще не назначен
      {% endif %}
    </td>
  </tr>
  <tr>
    <th></th>
    <td align="right">
      {% if booking.owner == request.user and booking.status != 'completed' and booking.status != 'ready' %}
      <a class="btn btn-success" href="{% url 'booking_update' pk=booking.pk %}" role="button">Изменить</a>
      {% endif %}
      {% if booking.owner == request.user and booking.status != 'completed' %}
      <a class="btn btn-danger" href="{% url 'booking_delete' pk=booking.pk %}" role="button">Удалить</a>
      {% endif %}
    </td>
  </tr>
  </tbody>
</table>
{% endfor %}
{% endif %}

{% endblock data %}