{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block bottom_nav %}{% endblock bottom_nav %}

{% block content %}

<h1 class="mt-4">Создание нового мероприятия</h1>
    <div class="col-md-8">
        <form action=""  method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div align="right">
                <a class="btn btn-secondary" href="{% url 'event_list' %}" role="button">Отмена</a>
                <input type="submit" class="btn btn-success" value="Сохранить">
            </div>
        </form>
    </div>
{% endblock content %}