<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ЦИТ ВО - система видеоконференцсвязи</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href=" {% static 'css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

<div class="d-flex" id="wrapper">
    {% block sidebar %}
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">ГБУ ВО "ЦИТ ВО" </div>
        <div class="list-group list-group-flush">
            {% block sidebar_link %}
            <a href="{% url 'event_list' %}" class="list-group-item list-group-item-action bg-light">Все мероприятия</a>
            <a href="{% url 'my_event_list' %}" class="list-group-item list-group-item-action bg-light">Мои мероприятия</a>
            <a href="{% url 'conference_list' %}" class="list-group-item list-group-item-action bg-light">Заявки на конференции</a>
            <a href="{% url 'booking_list' %}" class="list-group-item list-group-item-action bg-light">Заявки на помещения</a>
            <a href="{% url 'event_archive' %}" class="list-group-item list-group-item-action bg-light">Мой архив</a>
            {% endblock sidebar_link %}
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
    {% endblock sidebar %}
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Скрыть панель</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        {% block bottom_nav %}
                        {% endblock bottom_nav %}
                    </li>
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                        <a class="nav-link" href="{% url 'my_event_list' %}">Здраствуйте, {{ request.user.username }}</a>
                        {% endif %}
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Меню
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'help_index_page' %}">Помощь</a>
                            <a class="dropdown-item" href="{% url 'settings' %}">Настройки</a>
                            <div class="dropdown-divider"></div>
                            {% if not request.user.is_authenticated %}
                            <a href="{% url 'login' %}" class="dropdown-item">Войти в систему</a>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="dropdown-item">Выйти из системы</a>
                            {% endif %}

                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <div>
                <!-- Message -->
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Действие выполнено успешно!</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div >
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<footer class="py-5 bg-dark mt-3">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Roman Andreev 2020</p>
  </div>
</footer>
<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% block script %} {% endblock script %}

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
 </script>

</body>

</html>