{% extends 'base.html' %}

{% block content %}

<h1 class="mt-4">Бронирование комнат</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Дата проведения</th>
      <th scope="col">Время проведения</th>
      <th scope="col">Адрес</th>
      <th scope="col">Количество участников</th>
      <th scope="col">Организация</th>
      <th scope="col">Ответственный</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody>
  {% for booking in query_set %}
    <tr class="table-light">
      <td>{{ booking.event.date|date:"d F Y" }}</td>
      <td>{{ booking.time_start|date:"H i" }} - {{ booking.time_end|date:"H i" }}</td>
      <td>{{ booking.room.address }} ({{ booking.room.room }})</td>
      <td>{{ booking.quota }}</td>
      <td>{{ booking.event.organization }}</td>
      <td>{{ booking.event.responsible }}</td>
      <td><button class="btn btn-success">Принять в работу</button></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}