{% extends 'base.html' %}

{% block content %}

<h1 class="mt-4" >Мероприятие "{{ event.name }}" <span class="badge bg-warning">В работе</span></h1>
<div class="mt-4">
  <a class="btn btn-primary" href="{% url 'add_int_vcs' event_id=event.id %}" role="button">Добавить внутреннюю ВКС</a>
  <a class="btn btn-primary" href="{% url 'add_ext_vcs' event_id=event.id %}" role="button">Добавить внешнюю ВКС</a>
  <a class="btn btn-primary" href="{% url 'add_room' event_id=event.id %}" role="button">Забронировать комнату</a>
</div>
<p class="text text-right">Мероприятие создано: {{ event.created_at|date:"d F Y" }}</p>
<table class="table">
  <tbody>
    <tr>
      <th class="col-md-4">Дата проведения</th>
      <td>{{ event.date|date:"d F Y" }}</td>
    </tr>
    <tr>
      <th>Организатор</th>
      <td>{{ event.organization }}</td>
    </tr>
    <tr>
      <th>Описание</th>
      <td>{{ event.description }}</td>
    </tr>
    <tr>
      <th>Сотрудник ответственный за мероприятие</th>
      <td>{{ event.responsible }}<hr>телефон: {{ event.responsible.phone }}, email: {{ event.responsible.email }}</td>
    </tr>
    <tr>
      <th></th>
      <td align="right">
        <a class="btn btn-success" href="{% url 'edit_event' event_id=event.id %}" role="button">Изменить</a>
        <a class="btn btn-danger" href="{% url 'del_event' event_id=event.id %}" role="button">Удалить</a>
      </td>
    </tr>
  </tbody>
</table>

{% if vcss %}
{% for vcs in vcss %}
<h3 class="mt-4">Видеоконференция "{{ vcs.application }}" <span class="badge bg-success">Создана</span></h3>
<table class="table">
  <tbody>
    <tr>
      <th class="col-md-4">Время</th>
      <td>начало: {{ vcs.time_start|date:"H i" }}, окончание: {{ vcs.time_end|date:"H i" }}</td>
    </tr>
    <tr>
      <th class="col-md-4">Приложение</th>
      <td>{{ vcs.application }}({{ vcs.get_type_event_display }})</td>
    </tr>
    <tr>
      <th>Ссылка</th>
      <td>{{ vcs.link_to_event }}</td>
    </tr>
    <tr>
      <th>Технический специалист</th>
      <td>{{ vcs.application.responsible }}<hr>телефон: {{ vcs.application.responsible.phone }}, email: {{ vcs.application.responsible.email }}</td>
    </tr>
    <tr>
      <th></th>
      <td align="right">
        <a class="btn btn-success" href="{% url 'edit_int_vcs' event_id=event.id vcs_id=vcs.id %}" role="button">Изменить</a>
        <a class="btn btn-danger" href="{% url 'del_int_vcs' event_id=event.id vcs_id=vcs.id %}" role="button">Удалить</a>
      </td>
    </tr>
  </tbody>
</table>
{% endfor %}
{% endif %}

{% if reserved_rooms %}
{% for reserved_room in reserved_rooms %}
<h3 class="mt-4">Комната на {{ reserved_room.room.capacity }} мест(а) <span class="badge bg-danger">Нет брони</span></h3>
<table class="table">
  <tbody>
    <tr>
      <th class="col-md-4">Бронь</th>
      <td>с {{ reserved_room.time_start|date:"H i" }} по {{ reserved_room.time_end|date:"H i" }}</td>
    </tr>
    <tr>
      <th class="col-md-4">Адрес</th>
      <td>{{ reserved_room.room }}</td>
    </tr>
    <tr>
      <th>Количество участников</th>
      <td>{{ reserved_room.number_places }}</td>
    </tr>
    <tr>
      <th>Ассистент</th>
      <td>{{ reserved_room.room.responsible }}<hr>телефон: {{ reserved_room.room.responsible.phone }}, email: {{ reserved_room.room.responsible.email }}</td>
    </tr>
    <tr>
      <th></th>
      <td align="right">
        <a class="btn btn-success" href="{% url 'edit_room' event_id=event.id room_id=reserved_room.id %}" role="button">Изменить</a>
        <a class="btn btn-danger" href="{% url 'del_room' event_id=event.id room_id=reserved_room.id %}" role="button">Удалить</a>
      </td>
    </tr>
  </tbody>
</table>
{% endfor %}
{% endif %}



{% endblock content %}