{% extends 'base.html' %}

{% block content %}

<h1 class="mt-4">Предстоящие мероприятия</h1>
<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Время проведения</th>
      <th scope="col">Наименование</th>
      <th scope="col">Статус</th>
      <th scope="col">Организатор</th>
      <th scope="col">Ответственное лицо</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody>
  {% for event, vcss, reserved_rooms in data %}
    <tr class="{% if event.status == 'wait' %} table-warning {% endif %}
               {% if event.status == 'ready' %} table-success {% endif %}
               {% if event.status == 'rejection' %} table-danger {% endif %}
               {% if event.status == 'completed' %} table-secondary {% endif %}">
      <td>{{ event.date|date:"d F Y" }}</td>
      <td>{{ event.name }}</td>
      <td>{{ event.get_status_display }}</td>
      <td>{{ event.organization }}</td>
      <td>{{ event.responsible }}</td>
      <!-- Button trigger modal -->
      <td>
        {% block bottom %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-{{ event.id }}">Просмотр</button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal-{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl text-left">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Информацио о мероприятии</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h3 class="mt-4">Название: "{{ event.name }}"
                  {% if event.status == 'wait' %}<span class="badge bg-warning">{{ event.get_status_display  }}</span> {% endif %}
                  {% if event.status == 'ready' %}<span class="badge bg-success">{{ event.get_status_display  }}</span> {% endif %}
                  {% if event.status == 'rejection' %}<span class="badge bg-danger">{{ event.get_status_display  }}</span> {% endif %}
                  {% if event.status == 'completed' %}<span class="badge bg-secondary">{{ event.get_status_display  }}</span> {% endif %}
              </h3>
              <table class="table">
                <tbody>
                  <tr>
                    <th class="col-md-4">Дата проведения</th>
                    <td>{{ event.date|date:"d F Y" }}</td>
                  </tr>
                  <tr>
                    <th>Организатор</th>
                    <td>{{ event.organization }}</td>
                  </tr>
                  <tr>
                    <th>Описание</th>
                    <td>{{ event.description }}</td>
                  </tr>
                  <tr>
                    <th>Сотрудник ответственный за мероприятие</th>
                    <td>{{ event.responsible }}<hr>телефон: {{ event.responsible.phone }}, email: {{ event.responsible.email }}</td>
                  </tr>
                </tbody>
              </table>
              {% if vcss %}
              {% for vcs in vcss %}
              <h4 class="mt-4">Видеоконференция "{{ vcs.application }}"
                  {% if vcs.status == 'wait' %}<span class="badge bg-warning">{{ vcs.get_status_display  }}</span> {% endif %}
                  {% if vcs.status == 'ready' %}<span class="badge bg-success">{{ vcs.get_status_display  }}</span> {% endif %}
                  {% if vcs.status == 'rejection' %}<span class="badge bg-danger">{{ vcs.get_status_display  }}</span> {% endif %}
                  {% if vcs.status == 'completed' %}<span class="badge bg-secondary">{{ vcs.get_status_display  }}</span> {% endif %}
              </h4>
              <table class="table">
                <tbody>
                  <tr>
                    <th class="col-md-4">Время</th>
                    <td>начало: {{ vcs.time_start|date:"H i" }}, окончание: {{ vcs.time_end|date:"H i" }}</td>
                  </tr>
                  <tr>
                    <th class="col-md-4">Приложение</th>
                    <td>{{ vcs.application }}({{ vcs.get_type_event_display }})</td>
                  </tr>
                  <tr>
                    <th>Ссылка</th>
                    <td>{{ vcs.link_to_event }}</td>
                  </tr>
                  <tr>
                    <th>Технический специалист</th>
                    <td>{{ vcs.application.responsible }}<hr>телефон: {{ vcs.application.responsible.phone }}, email: {{ vcs.application.responsible.email }}</td>
                  </tr>

                </tbody>
              </table>
              {% endfor %}
              {% endif %}
              {% if reserved_rooms %}
              {% for reserved_room in reserved_rooms %}
              <h4 class="mt-4">Комната на {{ reserved_room.room.capacity }} мест(а)
                  {% if reserved_room.status == 'wait' %}<span class="badge bg-warning">{{ reserved_room.get_status_display  }}</span> {% endif %}
                  {% if reserved_room.status == 'ready' %}<span class="badge bg-success">{{ reserved_room.get_status_display  }}</span> {% endif %}
                  {% if reserved_room.status == 'rejection' %}<span class="badge bg-danger">{{ reserved_room.get_status_display  }}</span> {% endif %}
                  {% if reserved_room.status == 'completed' %}<span class="badge bg-secondary">{{ reserved_room.get_status_display  }}</span> {% endif %}
              </h4>
              <table class="table">
                <tbody>
                  <tr>
                    <th class="col-md-4">Бронь</th>
                    <td>с {{ vcs.time_start|date:"H i" }} по {{ vcs.time_end|date:"H i" }}</td>
                  </tr>
                  <tr>
                    <th class="col-md-4">Адрес</th>
                    <td>{{ reserved_room.room }}</td>
                  </tr>
                  <tr>
                    <th>Количество участников</th>
                    <td>{{ reserved_room.number_places }}</td>
                  </tr>
                  <tr>
                    <th>Ассистент</th>
                    <td>{{ reserved_room.room.responsible }}<hr>телефон: {{ reserved_room.room.responsible.phone }}, email: {{ reserved_room.room.responsible.email }}</td>
                  </tr>
                </tbody>
              </table>
              {% endfor %}
              {% endif %}
              <p class="text text-right">Мероприятие создано: {{ event.created_at|date:"d F Y" }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <a href="/event/{{ event.id }}" type="button" class="btn btn-primary">Подробно</a>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}