{% extends 'base.html' %}

{% block content %}

<h1 class="mt-4">Бронирование комнат</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Дата проведения</th>
      <th scope="col">Время проведения</th>
      <th scope="col">Адрес</th>
      <th scope="col">Количество участников</th>
      <th scope="col">Организация</th>
      <th scope="col">Ответственный</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody>
  {% for reserved_room in reserved_rooms %}
    <tr class="table-light">
      <td>{{ reserved_room.event.date|date:"d F Y" }}</td>
      <td>{{ reserved_room.time_start|date:"H i" }} - {{ reserved_room.time_end|date:"H i" }}</td>
      <td>{{ reserved_room.room.address }} ({{ reserved_room.room.room }})</td>
      <td>{{ reserved_room.quota }}</td>
      <td>{{ reserved_room.event.organization }}</td>
      <td>{{ reserved_room.event.responsible }}</td>
      <td><button class="btn btn-success">Обработать</button> </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}