{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1 class="mt-4">Необработанные заявки на видеоконференции</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Дата проведения</th>
      <th scope="col">Время проведения</th>
      <th scope="col">Приложение</th>
      <th scope="col">Количество участников</th>
      <th scope="col">Организация</th>
      <th scope="col">Ответственный</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody>
  {% for vcs, form in data %}
    <tr class="table-light">
      <td>{{ vcs.event.date|date:"d F Y" }}</td>
      <td>{{ vcs.time_start|date:"H i" }} - {{ vcs.time_end|date:"H i" }}</td>
      <td>{{ vcs.application }}</td>
      <td>{{ vcs.quota }}</td>
      <td>{{ vcs.event.organization }}</td>
      <td>{{ vcs.event.responsible }}</td>
      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">Создать</button>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Создать видеоконференцию</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action=""  method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                <button type="button" class="btn btn-primary">Сохранить</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}