{% extends 'schedule/base_list.html' %}

{% block title %}Бронирование помещений{% endblock title %}

{% block table %}
    <table class="table text-center table-sm table-hover">
        <thead>
        <tr class="table-secondary">
            <td colspan="7"><p class="h3">Заявки на обработку</p></td>
        </tr>
        <tr>
            <th scope="col">Дата и время</th>
            <th scope="col">Мероприятие</th>
            <th scope="col">Адрес</th>
            <th scope="col">Количество участников</th>
            <th scope="col">Организация</th>
            <th scope="col">Ответственный</th>
            <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for booking in page_obj %}
            {% if booking.status == 'wait' %}
            <tr>
                <td>{{ booking.time_start|date:"H:i" }}-{{ booking.time_end|date:"H:i" }} {{ booking.date|date:"d.m.Y" }}</td>
                <td>{{ booking.event }}</td>
                <td>{{ booking.room.address }} ({{ booking.room.room }})</td>
                <td>{{ booking.quota }}</td>
                <td>{{ booking.event.organization }}</td>
                <td>{{ booking.owner }}</td>
                <td>
                    <a class="btn btn-success" href="{% url 'booking_approve' pk=booking.pk %}" role="button">Обработать</a>
                </td>
            </tr>
            {%  endif %}
        {% endfor %}
        </tbody>
    </table>
    <table class="table text-center table-sm table-hover">
        <thead>
        <tr class="table-secondary">
            <td colspan="7"><p class="h3">Забронированные помещения</p></td>
        </tr>
        <tr>
            <th scope="col">Дата и время</th>
            <th scope="col">Мероприятие</th>
            <th scope="col">Адрес</th>
            <th scope="col">Количество участников</th>
            <th scope="col">Организация</th>
            <th scope="col">Ответственный</th>
            <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for booking in page_obj %}
            {% if booking.status == 'ready' %}
            <tr>
                <td>{{ booking.time_start|date:"H:i" }}-{{ booking.time_end|date:"H:i" }} {{ booking.date|date:"d.m.Y" }}</td>
                <td>{{ booking.event }}</td>
                <td>{{ booking.room.address }} ({{ booking.room.room }})</td>
                <td>{{ booking.quota }}</td>
                <td>{{ booking.event.organization }}</td>
                <td>{{ booking.owner }}</td>
                <td>
                    <a class="btn btn-success" href="{% url 'booking_approve' pk=booking.pk %}" role="button">Изменить</a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock table %}