{% extends 'schedule/base.html' %}
{% load crispy_forms_tags %}

{% block bottom_nav %}{% endblock bottom_nav %}

{% block data %}
    <h1 class="mt-4">Видеоконференция "{{ event.conf_server }}"</h1>
    {% if event.conf_reason %}
        <div class="alert alert-danger" role="alert">
            Причина отказа: {{ event.conf_reason }}
        </div>
    {% endif %}
    <table class="table">
        <tbody>
        <tr>
            <th>Мероприятие</th>
            <td>{{ event.name }}</td>
        </tr>
        <tr>
            <th>Организация</th>
            <td>{{ event.organization }}</td>
        </tr>
        <tr>
            <th>Дата и время</th>
            <td>{{ event.time_start|date:"H:i" }}-{{ event.time_end|date:"H:i" }} {{ event.date|date:"d.m.Y" }}</td>
        </tr>
        <tr>
            <th>Сервер</th>
            <td>{{ event.conf_server }}({{ event.conf_server.get_type_display }})</td>
        </tr>
        {% if event.quota %}
            <tr>
                <th>Количество участников</th>
                <td>{{ event.conf_number_clients|default_if_none:'' }}</td>
            </tr>
        {% endif %}
        {% if event.link %}
            <tr>
                <th>Ссылка</th>
                <td>{{ event.conf_link|default_if_none:'' }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Ответственный специалист</th>
            <td>{{ event.owner }}<hr>телефон: {{ event.owner.phone }}, email: {{ event.owner.email }}</td>
        </tr>
        </tbody>
    </table>
    <div>
        <form action=""  method="POST">
            {% csrf_token %}
            <div class="fieldWrapper">
                {{ form.conf_link|as_crispy_field }}
            </div>
            <div class="float-right">
                <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}" role="button">Отмена</a>
                <!-- Кнопка-триггер модального окна -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectionModal">Отказать</button>
                <input type="submit" name="ready" class="btn btn-success" value="Подтвердить">

                <!-- Модальное окно -->
                <div class="modal fade" id="rejectionModal" tabindex="-1" aria-labelledby="rejectionModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="rejectionModalLabel">Обязательно укажите причину отказа!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="fieldWrapper">
                                    {{ form.conf_reason|as_crispy_field }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger" name="rejection" >Отказать</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock data %}

{% block script %}
    <script>
        {% if form.errors.conf_reason %}
            $("#rejectionModal").modal("show");
        {% endif %}
    </script>
{% endblock script %}
