{% extends 'schedule/base_list.html' %}
{% load crispy_forms_tags %}

{% block title %}Конференции{% endblock title %}

{% block table %}
    <table class="table text-center table-sm table-hover">
        <thead>
        <tr class="table-secondary">
            <td colspan="7"><p class="h3">Заявки на обработку</p></td>
        </tr>
        <tr>
            <th scope="col">Дата и время</th>
            <th scope="col">Мероприятие</th>
            <th scope="col">Сервер</th>
            <th scope="col">Количество участников</th>
            <th scope="col">Организация</th>
            <th scope="col">Ответственный</th>
            <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for event in page_obj %}
            {% if event.conf_status == statuses.STATUS_WAIT %}
            <tr>
                <td>{{ event.time_start|date:"H:i" }}-{{ event.time_end|date:"H:i" }} {{ event.date|date:"d.m.Y" }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.conf_server }}</td>
                <td>{{ event.conf_number_clients|default_if_none:'' }}</td>
                <td>{{ event.organization }}</td>
                <td>{{ event.owner }}</td>
                <td>
                    <a class="btn btn-success" href="{% url 'conference_approve' pk=event.pk %}" role="button">Обработать</a>
                </td>
            </tr>
            <tr class="table-secondary">
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <table class="table text-center table-sm table-hover">
        <thead>
        <tr class="table-secondary">
            <td colspan="7"><p class="h3">Предстоящие конференции</p></td>
        </tr>
        <tr>
            <th scope="col">Дата и время</th>
            <th scope="col">Мероприятие</th>
            <th scope="col">Сервер</th>
            <th scope="col">Количество участников</th>
            <th scope="col">Организация</th>
            <th scope="col">Ответственный</th>
            <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for event in page_obj %}
            {% if event.conf_status == statuses.STATUS_READY %}
            <tr>
                <td>{{ event.time_start|date:"H:i" }}-{{ event.time_end|date:"H:i" }} {{ event.date|date:"d.m.Y" }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.conf_server }}</td>
                <td>{{ event.conf_number_clients|default_if_none:'' }}</td>
                <td>{{ event.organization }}</td>
                <td>{{ event.owner }}</td>
                <td>
                    <a class="btn btn-success" href="{% url 'conference_approve' pk=event.pk %}" role="button">Изменить</a>
                </td>
            </tr>
            <tr class="table-secondary">
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock table %}