{% extends 'schedule/base.html' %}
{% load crispy_forms_tags %}

{% block bottom_nav %}{% endblock bottom_nav %}

{% block data %}
    <h1 class="mt-4">Создание нового мероприятия</h1>
    <div>
        <form action=""  method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div align="right">
                <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}" role="button">Отмена</a>
                <input type="submit" class="btn btn-success" value="Сохранить">
            </div>
        </form>
    </div>
{% endblock data %}