{% extends 'schedule/base.html' %}
{% load crispy_forms_tags %}
{% load custom_filter %}
{% load static %}

{% block bottom_nav %}{% endblock bottom_nav %}

{% block data %}
    <h3 class="mt-4 bg-info">Создание нового мероприятия</h3>
    <div>
        <form method="POST" id="form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.name|as_crispy_field }}
            <div class="form-row">
                <div class="form-group col-4 pr-4">
                    {{ form.date|as_crispy_field }}
                    <div class="alert alert-warning" role="alert">
                        Что бы выбрать свободное время укажите дату, выберите сервер и/или помещение
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            {{ form.time_start|as_crispy_field }}
                        </div>
                        <div class="form-group col-6">
                            {{ form.time_end|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="form-group col-8">
                    {{ form.description|as_crispy_field }}
                </div>
            </div>
            <div class="form-row pt-1">
                <div class="form-group col border m-2 p-2">
                    {{ form.with_booking|as_crispy_field  }}
                    <div class="form-group" id="with_booking_div">
                        {{ form.booking_room|as_crispy_field }}
                        {{ form.booking_note|as_crispy_field }}
                        <div class="pt-2" id="id_div_booking_list" style="display: none;">
                            <h5 class="bg-info">Предстоящие мероприятия</h5>
                            <table class="table table-info">
                                <thead>
                                <tr>
                                    <th scope="col">Время</th>
                                    <th scope="col">Мероприятие</th>
                                </tr>
                                </thead>
                                <tbody id="id_tbody_booking_list">
                                <tr>
                                    <th scope="row">--------</th>
                                    <td>--------</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group col border m-2 p-2">
                    {{ form.with_conf|as_crispy_field  }}
                    <div id="with_conf_div">
                        {{ form.conf_server|as_crispy_field }}
                        <div id="id_div_local_server_fields">
                            {{ form.conf_number_clients|as_crispy_field  }}
                        </div>
                        <div id="id_div_external_server_fields">
                            {{ form.conf_note|as_crispy_field }}
                            {{ form.conf_link|as_crispy_field }}
                            {{ form.conf_file|as_crispy_field }}
                        </div>
                        <div class="pt-2" id="id_div_conf_list" style="display: none;">
                            <h5 class="bg-info">Предстоящие мероприятия</h5>
                            <table class="table table-info">
                                <thead>
                                <tr>
                                    <th scope="col">Время</th>
                                    <th scope="col">Мероприятие</th>
                                </tr>
                                </thead>
                                <tbody id="id_tbody_conf_list">
                                <tr>
                                    <th scope="row">--------</th>
                                    <td>--------</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div align="right">
                <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}" role="button">Отмена</a>
                <input type="submit" class="btn btn-success" value="Сохранить">
            </div>
        </form>
    </div>
{% endblock data %}
{% block script %}
    <script>
        $(document).ready(function () {
            let form = $('#form');
            const CSRFToken = $("[name=csrfmiddlewaretoken]").val();
            let date = $('#id_date');
            let bookingRoom = $('#id_booking_room');
            let confServer = $("#id_conf_server");
            let confServerSelected = $("#id_conf_server option:selected")
            let withBooking = $('#id_with_booking');
            let withConf = $('#id_with_conf');
            let bookingBlock = $('#with_booking_div')
            let confBlock = $('#with_conf_div')
            let localServerFields = $('#id_div_local_server_fields');
            let externalServerFields = $('#id_div_external_server_fields');
            
            // DOCUMENT READY
            // Обработка чекбокса "Нужно помещение" при загрузке
            if ( withBooking.is(':checked') ) {
                bookingBlock.show();
                getUpcomingBookings(bookingRoom.val(), date.val());
            } else {
                bookingBlock.hide();
            }
            // Обработка чекбокса "Нужна видеоконференция" при загрузке
            if ( withConf.is(':checked') ) {
                confBlock.show();
                configureServerFields(confServerSelected.attr('data-server-type'))
                if (!bookingRoom.val() && withBooking.is(':checked')) {
                    confServer.prop( "disabled", true );
                } else {
                    updateConfServerField.bind(bookingRoom)();
                    confServer.prop( "disabled", false );
                    getUpcomingConferences(confServerSelected.val(), date.val());
                }
            } else {
                confBlock.hide();
            }
            
            // EVENT LISTENER
            // Обработка чекбокса "Нужно помещение" по событию
            withBooking.on('click', function () {
                if ( $(this).is(':checked') ) {
                    bookingBlock.show();
                    if (!bookingRoom.val()) {
                        confServer.prop( "disabled", true );
                    }
                } else {
                    bookingBlock.hide();
                    bookingRoom.val('');
                    updateConfServerField.bind(bookingRoom)();
                    confServer.prop( "disabled", false );
                }
            });
            
            // Обработка чекбокса "Нужна видеоконференция" по событию
            withConf.on('click', function () {
                if ( $(this).is(':checked') ) {
                    confBlock.show();
                    if (!bookingRoom.val() && withBooking.is(':checked')) {
                        confServer.prop( "disabled", true );
                        configureServerFields(confServerSelected.attr('data-server-type'));
                    } else {
                        updateConfServerField.bind(bookingRoom)();
                        confServer.prop( "disabled", false );
                    }
                } else {
                    confBlock.hide();
                }
            });
            
            // Обработка поля "Дата" по событию
            date.change(function (){
                if (withBooking.is(":checked") && bookingRoom.val()) {
                    getUpcomingBookings(bookingRoom.val(), date.val());
                }
                if (withConf.is(":checked") && confServer.val()) {
                    getUpcomingConferences(confServer.val(), date.val());
                }
            });
            
            // Обработка поля "Место проведения" по событию
            bookingRoom.change(function (){
                if (withBooking.is(":checked") && withConf.is(":checked")) {
                    updateConfServerField.bind(this)();
                    confServer.prop("disabled", !bookingRoom.val());
                }
                getUpcomingBookings(bookingRoom.val(), date.val());
            });
            
            // Обработка поля "Сервер" по событию
            confServer.change(function () {
                let serverSelected = this.options[this.selectedIndex]
                configureServerFields(serverSelected.getAttribute("data-server-type"))
                getUpcomingConferences(serverSelected.value, date.val());
            });

            // SUPPORT FUNCTION
            function configureServerFields(type) {
                if (type === "{{ server_type_local }}") {
                    localServerFields.show();
                    externalServerFields.hide();
                } else if (type === "{{ server_type_external }}") {
                    localServerFields.hide();
                    externalServerFields.show();
                } else {
                    localServerFields.hide();
                    externalServerFields.hide();
                }
            }

            function updateConfServerField () {
                $.ajax({
                    headers: {"X-CSRFToken": CSRFToken},
                    data: $(this).serialize(),
                    type: form.attr('method'),
                    url: "{% url 'get_server_for_room' %}",
                    success: function (response) {
                        buildNewOptionsServerField(response.data);
                    },
                    error: function (response) {
                        console.log(response.statusText);
                    }
                });
                return false;
            }

            function getUpcomingConferences (server_id, date) {
                /**
                 * Запрашиваем временные интервалы в которые на сервере
                 * с id = room_id заявлена конференция на дату date.
                 */
                $.ajax({
                    headers: {"X-CSRFToken": CSRFToken},
                    data: {'server_id': server_id, 'date': date},
                    type: form.attr('method'),
                    url: "{% url 'get_upcoming_conferences' %}",
                    success: function (response) {
                        buildBlockConfList(response.data);
                    },
                    error: function (response) {
                        console.log(response.statusText);
                    }
                });
                return false;
            }

            function getUpcomingBookings (room_id, date) {
                /**
                 * Запрашиваем временные интервалы в которые помещение
                 * с id = room_id забронировано на дату date.
                 */
                $.ajax({
                    headers: {"X-CSRFToken": CSRFToken},
                    data: {'room_id': room_id, 'date': date},
                    type: form.attr('method'),
                    url: "{% url 'get_upcoming_bookings' %}",
                    success:
                        function (response) {
                            buildBlockBookingList(response.data)
                        },
                    error:
                        function (response) {
                            console.log(response.statusText);
                        }
                });
                return false;
            }

            function buildNewOptionsServerField(data) {
                const currentValue = confServer.val()
                confServer.empty();
                if (data) {
                    $.each(data, function(index, element) {
                        let [id, name, type] = element;
                        let option = $("<option></option>")
                            .attr("value", id)
                            .attr("data-server-type", type)
                            .text(name);
                        if (currentValue === id.toString()) {
                            option.attr("selected", true)
                        }
                        confServer.append(option);
                    });
                    confServer.trigger( "change" );
                }
            }

            function buildBlockBookingList(data) {
                let tbody = $("#id_tbody_booking_list");
                let div_cont = $("#id_div_booking_list");
                div_cont.hide();
                tbody.empty();
                if (data) {
                    $.each(data, function(index, element) {
                        const { name: name, time_start: time_start, time_end: time_end,} = element;
                        let th = $("<th></th>")
                            .text(time_start.slice(0, 5) + " - " + time_end.slice(0, 5))
                            .attr("scope", "row");
                        let td = $("<td></td>")
                            .text(name);
                        let tr = $("<tr></tr>");
                        tr.append(th).append(td);
                        tbody.append(tr);
                        div_cont.show();
                    });
                }
            }

            function buildBlockConfList(data) {
                let tbody = $("#id_tbody_conf_list");
                let div_cont = $("#id_div_conf_list");
                div_cont.hide();
                tbody.empty();
                if (data) {
                    $.each(data, function(index, element) {
                        const { name: name, time_start: time_start, time_end: time_end, count: count,  max_count: max_count} = element;
                        const percent = count/max_count * 100;
                        let th = $("<th></th>")
                            .text(time_start.slice(0, 5) + " - " + time_end.slice(0, 5))
                            .attr("scope", "row");
                        let td = $("<td></td>")
                            .text(name)
                            .append(
                                $("<div></div>").append(
                                    $("<div></div>").append(
                                        $("<small></small>")
                                            .text( "Свободно " + (max_count - count) + " лицензий из " + max_count)
                                            .attr("class", "justify-content-center d-flex position-absolute w-100")
                                    )
                                        .attr("class", "text-dark text-nowrap progress-bar " + styleFromPercent(percent))
                                        .attr("role", "progressbar")
                                        .attr("style", "width: " + percent + "%")
                                        .attr("aria-valuenow", count)
                                        .attr("aria-valuemin", "0")
                                        .attr("aria-valuemax", max_count)
                                )
                                    .attr("class", "progress position-relative")
                            );
                        let tr = $("<tr></tr>");
                        tr.append(th).append(td);
                        tbody.append(tr);
                        div_cont.show();
                    });
                }
            }

            function styleFromPercent(percent) {
                if (percent === 100){
                    return 'bg-danger';
                } else if (percent > 60) {
                    return 'bg-warning';
                } else {
                    return 'bg-success';
                }
            }
        });
    </script>
{% endblock script %}