{% extends 'schedule/base_list.html' %}
{% load custom_filter %}

{% block title %}Предстоящие мероприятия{% endblock title %}

{% block table %}
    <table class="table text-center table-hover">
        <thead>
        <tr>
            <th scope="col">Дата и время</th>
            <th scope="col">Наименование</th>
            <th scope="col">Статус</th>
            <th scope="col">Организатор</th>
            <th scope="col">Ответственное лицо</th>
            {% block title_grade %}{% endblock title_grade %}
            <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for event in page_obj %}
            <tr class="table-{{ event.status|get_postfix }}">
                <td>
                    {% if event.date_start == event.date_end %}{{ event.date_start|date:"d.m.Y" }}
                        {% else %}{{ event.date_start|date:"d.m" }}-{{ event.date_end|date:"d.m.Y" }}
                    {% endif %}
                </td>
                <td>{{ event.name }}</td>
                <td>
                    <h4><span class="badge bg-{{ event.status|get_postfix }}">{{ event.get_status_display  }}</span></h4>
                </td>
                <td>{{ event.organization }}</td>
                <td>{{ event.owner }}</td>
                {% block grade %}{% endblock grade %}
                <td><a href="{{ event.get_absolute_url }}" type="button" class="btn btn-primary">Подробно</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock table %}