{% extends 'schedule/base_list.html' %}
{% load custom_filter %}

{% block title %}Предстоящие мероприятия{% endblock title %}

{% block table %}
    <table class="table text-center table-hover">
        <thead>
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Наименование</th>
            <th scope="col">Статус</th>
            <th scope="col">Организатор</th>
            <th scope="col">Ответственное лицо</th>
            {% block title_grade %}{% endblock title_grade %}
            <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for event in page_obj %}
            <tr class="{{ event.status|get_tabel_style_status }}">
                <td>
                    {{ event.time_start|date:"H:i" }}-{{ event.time_end|date:"H:i" }} {{ event.date|date:"d.m.Y" }}
                </td>
                <td>{{ event.name }}</td>
                <td>
                    <h4>{{ event.status|get_badge_status }}</h4>
                </td>
                <td>{{ event.organization }}</td>
                <td>{{ event.owner }}</td>
                {% block grade %}{% endblock grade %}
                <td><a href="{{ event.get_absolute_url }}" type="button" class="btn btn-primary">Подробно</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock table %}