{% extends 'schedule/base.html' %}
{% load custom_filter %}

{% block bottom_nav %}{% endblock bottom_nav %}

{% block data %}
    <h3 class="mt-4" >Мероприятие "{{ event.name }}" {{ event.status|get_badge_status}}</h3>
    <p class="text text-right">Мероприятие обновлено: {{ event.created_at|date:"d F Y" }}</p>
    <div>
        <table class="table">
            <tbody>
            <tr>
                <th width="30%">Дата проведения</th>
                <td>
                    {{ event.time_start|date:"H:i" }}-{{ event.time_end|date:"H:i" }} {{ event.date|date:"d.m.Y" }}
                </td>
            </tr>
            <tr>
                <th>Организатор</th>
                <td>{{ event.organization }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Сотрудник ответственный за мероприятие</th>
                <td>
                    {{ event.owner }}<hr>
                    телефон: {{ event.owner.phone }},
                    email: <a href="mailto:{{ event.owner.email }}?subject={{ event }}">{{ event.owner.email }}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col border m-2 p-2">
            {% if event.with_conf %}
                <h5 class="mt-3 text-center">Видеоконференция {{ event.conf_status|get_badge_status}}</h5>
                {% if event.conf_status|is_rejection  %}
                    <div class="alert alert-danger" role="alert">
                        Причина отказа: {{ event.conf_reason }}
                    </div>
                {% endif %}
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Сервер</th>
                        <td>{{ event.conf_server }}<br>({{ event.conf_server.get_type_display }})</td>
                    </tr>
                    <tr>
                        <th>Примечание</th>
                        <td>{{ event.conf_note }}</td>
                    </tr>
                    <tr>
                        <th>Количество участников</th>
                        <td>{{ event.conf_number_clients|default_if_none:'' }}</td>
                    </tr>
                    <tr>
                        <th>Ссылка</th>
                        <td>{{ event.conf_link|default_if_none:'' }}</td>
                    </tr>
                    <tr>
                        <th>Технический специалист</th>
                        <td>
                            {% if event.conf_operator %}
                                {{ event.conf_operator }}<hr>
                                телефон: {{ event.conf_operator.phone }},
                                email: <a href="mailto:{{ event.conf_operator.email }}?subject={{ event }}">{{ event.conf_operator.email }}</a>
                            {% else %}
                                Специалист еще не назначен
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            {% else %}
                <h5 class="mt-3 text-center">Видеоконференция не требуется"</h5>
            {% endif %}
        </div>
        <div class="col border m-2 p-2">
            {% if event.with_booking %}
                <h5 class="mt-3 text-center">Комната на {{ event.booking_room.quota }} мест(а) {{ event.booking_status|get_badge_status}}</h5>
                {% if event.booking_status|is_rejection %}
                    <div class="alert alert-danger" role="alert">
                        Причина отказа: {{ event.booking_reason }}
                    </div>
                {% endif %}
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Адрес</th>
                        <td>{{ event.booking_room.address }}</td>
                    </tr>
                    <tr>
                        <th>Примечание</th>
                        <td>{{ event.booking_note }}</td>
                    </tr>
                    <tr>
                        <th>Ассистент</th>
                        <td>
                            {% if event.booking_assistant %}
                                {{ event.booking_assistant }}<hr>
                                телефон: {{ event.booking_assistant.phone }},
                                email: <a href="mailto:{{ event.booking_assistant.email }}?subject={{ event }}">{{ event.booking_assistant.email }}</a>
                            {% else %}
                                Специалист еще не назначен
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            {% else %}
                <h5 class="mt-3 text-center">Помещение не требуется</h5>
            {% endif %}
        </div>
    </div>
    <div class="text-right m-4">
        <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}" role="button">Отмена</a>
        {% if event.owner == request.user and event.status != 'completed' and event.status != 'ready' %}
            <a class="btn btn-success" href="{% url 'event_update' pk=event.pk %}" role="button">Изменить</a>
        {% endif %}
        {% if event.owner == request.user and event.status != 'completed' %}
            <a class="btn btn-danger" href="{% url 'event_delete' pk=event.pk %}" role="button">Удалить</a>
        {% endif %}
    </div>



{% endblock data %}