<div class="pt-2">
    <h5>Предстоящие мероприятия</h5>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Время</th>
            <th scope="col">Мероприятие</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">8:30 - 9:30</th>
            <td>Обсуждение бюджета 2023 года</td>
        </tr>
        <tr>
            <th scope="row">13:00 - 14:00</th>
            <td>Модернизация информационной системы образования</td>
        </tr>
        </tbody>
    </table>
</div>